/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* ------------------------------------------------------------------------------------------------------------------------------------
   ----------------------------------------------------- HEADER COMPONENT -------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------ */
.headerComponent {
  padding: 0;
  display: flex;
  align-items: center;
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: darkblue;
}
  
.headerComponent > h1 {
  display: inline;
  color: #f2f2f2;
  font-size: 4em;
  position: absolute;
  top: 3%;
  left: 12%;
  padding-left: 25px;
  width: 50%;
  margin-bottom: 20px;
}


  
.headerComponent .menu-user {
  width: 20%;
  display: flex; /* Adicionado flex para alinhar os links lado a lado */
  position: absolute;
  top: 0px;
  right: 5vw;
  color: white;
}
  
.headerComponent .menu-user a {
  margin: 10px;
  padding-right: 50px;
  color: white;
}

.headerComponent .menu-user a:hover {
  color: darkred;
  cursor: pointer;
}


.headerComponent > img {
  width: 10%;
  text-align: left;
  display: inline;
  position: relative;
  padding-top: 2vw;
  padding-left: 2vw;
  padding-bottom: 1vw;
}
  
/* ------------------------------------------------------------------------------------------------------------------------------------
   --------------------------------------------------- NAVBAR COMPONENT ---------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------ */
.navbar {
  color: white;
  display: inline;
  position: relative;
  padding: 8px 20px 8px 20px;
  margin: 0 20px;
  text-decoration: none;
  background-color: darkred;
  margin-top: 7%;
  width: 71%;
  bottom: 0px;
  border-radius: 4px;
}

.navbar > div {
  display: flex;
  align-items: left;
  justify-content: left;
}

.navbar a{
  margin: 0 10px;
  padding-right: 55px;
  color: white;
}

.navbar a:hover{
  color: darkblue;
  cursor: pointer;
}



/* ------------------------------------------------------------------------------------------------------------------------------------
   -------------------------------------------------------- FOOTER COMPONENT ----------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------ */
.footerComponent {
  position: relative;
  margin-top: 0px;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  background-color: #dddddd;
}

.footerComponent >div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.footerComponent > div > a:hover {
  color: darkblue;
  cursor: pointer;
}

.footerComponent > p {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------------------------------------------------------------------------------------------------------
   --------------------------------------------------------- LIST COMPONENT -----------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------ */
.listPreview  {
  margin-top: 20px;
  padding: 0px;
  border-bottom: 1px solid #fafafa;
  border-left: 8px solid rgb(67, 30, 97);
  border-radius: 10px;
}

.listPreview h1 {
  padding: 5px 10px 10px 10px;
  background-color: rgb(138, 69, 196);
  border-radius: 4px;
  margin-bottom: 30px;
}

.listPreview > div {
  padding: 0px;
  margin: 20px;
  border-bottom: 1px solid #fafafa;
  border-left: 8px solid rgb(24, 167, 255);
  border-radius: 10px;
}

.listPreview > div:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.listPreview > div > a > h2 {
  font-size: 20px;
  margin-bottom: 6px;
  background-color: rgb(247, 117, 71);
  padding: 5px 0px 5px 10px;
  border-radius: 4px;
}

.listPreview > div a {
  text-decoration: none;
}

.listPreview p {
  padding: 10px 20px 15px 20px;
}



/* ------------------------------------------------------------------------------------------------------------------------------------
   ----------------------------------------------------- CONFIGURED ROUTES ------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------ */
.configuredRoutes {
  max-width: 75%;
  margin: 0px auto;
  padding: 10px;
  background-color: #fdfdfd;
  padding-top: 50px;
  padding-bottom: 90px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------
   ---------------------------------------------------------- LOGIN PAGE --------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------ */
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.loginPage form {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loginPage input, textarea {
  margin: 0px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.loginPage button {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.loginPage button:hover {
  background-color: #3579d8;
  cursor: pointer;
}

.loginPage button:active {
  background-color: #2a66c7;
}

.loginPage h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.loginPage > form > a {
  padding-top: 30px;
  color:  green;
  font-weight: bold;
}


/* ------------------------------------------------------------------------------------------------------------------------------------
   -------------------------------------------------------- CONTACT PAGE --------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------ */
.contactPage {
  text-align: center;
  font-size: 34px;
}

.contactPage form {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactPage input, textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contactPage button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.contactPage button:hover {
  background-color: #3579d8;
  cursor: pointer;
  border-radius: 10px;
}

.contactPage button:active {
  background-color: #2a66c7;
  border-radius: 10px;
}

.contactPage h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------
   --------------------------------------------------------- ADD OR EDIT PAGES ---------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------ */
.addOrEditPage {
  max-width: 50%;
  margin: auto;
  text-align: center;
}

.addOrEditPage form {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addOrEditPage label {
  text-align: left;
  display: block;
}

.addOrEditPage h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 20px;
}

.addOrEditPage input, .addOrEditPage textarea, .addOrEditPage select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.addOrEditPage button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.addOrEditPage button:hover {
  background-color: darkred;
  cursor: pointer;
}


/* ------------------------------------------------------------------------------------------------------------------------------------
   --------------------------------------------------------- LANDING PAGES ------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------ */
.landingPage  {
  margin-top: 20px;
  padding: 0px;
  border-bottom: 1px solid #fafafa;
  border-left: 8px solid rgb(67, 30, 97);
  border-radius: 10px;
}

.landingPage h1 {
  padding: 5px 10px 10px 10px;
  background-color: rgb(151, 145, 155);
  border-radius: 4px;
  margin-bottom: 30px;
}

.landingPage h3 {
  background-color: rgb(202, 184, 184);
  padding: 10px;
  border-bottom: #f1356d;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 30px;
}


.landingPage > div {
  padding: 0px;
  margin: 20px;
  border-left: 8px solid rgb(67, 30, 97);
  border-radius: 10px;
}

.landingPage table {
  width: 50%;
  padding: 10px;
}

.landingPage button {
  padding: 20px;
  border-radius: 20px;
  width: 250px;
  font-weight: bold;
  font-size: medium;
  background-color: rgb(240, 178, 55);
}

.landingPage button:hover {
  background-color: darkorange;
  cursor: pointer;
}

.landingPage ul {
  padding: 0px 10px 15px 40px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------
   ------------------------------------------------ VIEW MY COURSES PAGE --------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------ */
.viewMyCoursesPage {
  max-width: 95%;
  margin-left: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.viewMyCoursesPage ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.viewMyCoursesPage ul li {
  font-weight: bold;
  margin-bottom: 10px;
}
  
.viewMyCoursesPage table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.viewMyCoursesPage thead {
  background-color: #4285f4;
  color: #fff;
}
  
.viewMyCoursesPage th {
  font-size: 18px;
  padding: 16px;
  text-align: center;
}

.viewMyCoursesPage tr:nth-child(even) {
  background-color: #f2f2f2;
}

.viewMyCoursesPage td {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------- BUTTONS --------------------------------------------------------------
  ------------------------------------------------------------------------------------------------------------------------------------ */
.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: darkred;
  cursor: pointer;
}


/* ------------------------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------- GLOBAL ELEMENTS ----------------------------------------------------------
  ------------------------------------------------------------------------------------------------------------------------------------ */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

h1 {
  font-size: xx-large;
}

p {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: justify;
  text-justify: inter-word;
}

ul {
  padding-top: 20px;
  padding-bottom: 30px;
}

a {
  text-decoration: none;  /* Remove underlines from links */
  border-radius: 10px;
}

a:hover {
  color: #3579d8;
  cursor: pointer;
}